html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #E8E8E8;
	overflow-y: auto;
	overflow-x: hidden;
}

.backgroundA{
	width: 100%;
	height: 100%;
	background-color: #E8E8E8;
	display: flex;
    justify-content: center;
    align-items: center;	
}

.backgroundB{
	width: 100%;
	height: 100%;
	background-color: #404040;
	display: flex;
    justify-content: center;
    align-items: center;	
}

.card-deck{
	width: 85%;
	padding-top: 3%;
	padding-bottom: 3%; 
	border-radius: 0px !important;	
}

.card{
	width: 100% !important;
	height: 100% !important;
	border: none !important;
	border-radius: 0px !important;
	background-color: #343A40 !important;
}

.cardLine{
    width: 100%;
	height: 6px ;
    background-color: #8F2828 !important;
}

.card img{
	height: 30vh;
}

.card h5, .card p{
    font-family: 'Roboto', sans-serif; 
    color: #E8E8E8 !important;
}

.card-text{
    color: #343A40 !important;
}

.card-img-top{
	position: relative;
    border-radius: 0px !important; 
}

.card button{
	margin-left: 4%;
	margin-bottom: 3%;
	border-radius: 0px !important;
	border-color: #8F2828;	
	background: #8F2828 !important;
}

.divCard{
	width: 100%;
	height: 100%;
	background: #343A40 !important;
}