<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Gabriel Marques, Raphaelli, Igor e Thiago" />
    <meta name="keywords" content="HTML, CSS e JavaScript" />
    <meta name="description" content="Smart Gym" />

    <title>
        Smart Gym - Recuperar Sua Senha
    </title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Assets/imagens/favicon.ico" />
    
    <!-- Links CSS Geral -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/Menu/Body.css" />
    <link rel="stylesheet" type="text/css" href="../Assets/css/Menu/TopMenu.css" />
    <link rel="stylesheet" type="text/css" href="../Assets/css/Menu/SideMenu.css" />
    
    <!-- Links CSS -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/CadastroProfessor/Content.css" />
    
    <!-- Frameworks CSS -->
    <link rel="stylesheet" type="text/css" href="../Assets/lib/bootstrap/css/bootstrap.min.css" />

    <!-- Links Fontes -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu" />

    <!-- Links JS Geral -->
    <script defer rel="stylesheet" type="text/javascript" src="../Assets/js/SideMenu/SideMenu.js"></script>
    
    <!-- Links JS -->
    <script defer rel="stylesheet" type="text/javascript" src="../Controller/CadastroProfessorController.js"></script>

    <!-- Frameworks JS -->
    <script rel="stylesheet" type="text/javascript" src="../Assets/lib/jquery/jquery.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../Assets/lib/jquery_mask_plugin/jquery.mask.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../Assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script defer rel="stylesheet" type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer rel="stylesheet" type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script defer rel="stylesheet" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
</head>
<body>
        <!-- Body-->
        <div>
            <section>
                <p id="Titulo">
                    <i id="IconeTitulo" <i class="fas fa-key">"></i>
                     Recuperar Senha
            </section>

            <section id="DadosPessoais" class="col-sm-8">           
                <form action="" method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="ls-label-text">Recuperar Senha</span>
                                </div>

                                <div class="card-body">
                                    <div class="row">                                       
                                        <div class="col-sm-8">
                                            <span class="ls-label-text">Digite Seu E-mail </span>
                                            <input type="text" id="DigiteSeuEmail" class="form-control" name="DigiteSeuEmail" required>

                                            
                                                <div class="col-sm-12">
                                            <br>
                                            <button type="submit" id="Enviar" class="btn btn-primary">Enviar</button>
                                            
                                            <button type="reset"  id="sair" class="btn btn-secondary">Sair</button>                                        </div>
                                            </div>

                                            
                                            </div>
                                            
                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="overlay"></div>
</body>
</html>