#DadosPessoais{
	float: left;
}

.ls-label-text{
	font-weight: bold;
}

#ConfirmarCadastroAluno{
	float: right !important;
	margin-left: 15px;
}

#ResetCadastroAluno{
	float: right !important; 
}

#ImagemPreview{
	width: 350px;
	height: 320px;
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
    .img-fluid {
		max-height: 200px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1365px) {
    .img-fluid {
		max-height: 150px;
    }
}

@media screen and (min-width: 584px) and (max-width: 800px) {
    .img-fluid {
		max-height: 100px;
    }
}

@media screen and (max-width: 583px) {
    .img-fluid {
		max-height: 300px;
    }
}

#ConfirmarCadastroAluno{
	border-color: #8F2828;
	background-color: #8F2828;
}

#ResetCadastroAluno{
	border-color: #404040;
	background-color: #404040;
}