@{
    ViewData["Title"] = "Cadastrar - Aluno";
    Layout = "_RegisterAndEdit";
}

@*Body*@
<div>
    <section>
        <p id="Titulo">
            <i id="IconeTitulo" class="fas fa-user-plus"></i>
            Cadastrar Aluno
        </p>
    </section>

    <section id="DadosPessoais" class="col-sm-8">
        <form asp-action="Create" asp-controller="Aluno" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="ls-label-text">Identificação</span>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img id="ImagemPreview" class="img-fluid mx-auto d-block" src="~/img/Cadastro/Default_Image.png" alt="Imagem Perfil." />
                                    <br>
                                    <input type="file" id="ImagemPerfil" class="form-control-file" name="imagemPerfil" accept="image/*">
                                </div>

                                <div class="col-sm-8">
                                    <span class="ls-label-text">Nome Completo</span>
                                    <input type="text" id="NomeCompleto" class="form-control" name="nomeCompleto" required>

                                    <span class="ls-label-text =">Email</span>
                                    <input type="text" id="Email" class="form-control" name="email" required>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <span class="ls-label-text =">Senha</span>
                                            <input type="password" id="Senha" class="form-control" name="senha" required>
                                        </div>

                                        <div class="col-sm-4">
                                            <span class="ls-label-text">CPF</span>
                                            <input type="text" id="Cpf" class="form-control" name="cpf" required>
                                        </div>

                                        <div class="col-sm-4">
                                            <span class="ls-label-text">CEP</span>
                                            <input type="text" id="Cep" class="form-control" name="cep" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="ls-label-text">Rua</span>
                                            <input type="text" id="Rua" class="form-control" name="rua" required>
                                        </div>

                                        <div class="col-sm-3">
                                            <span class="ls-label-text d-inline-block text-truncate">Bairro</span>
                                            <input type="text" id="Bairro" class="form-control" name="bairro" required>
                                        </div>

                                        <div class="col-sm-2">
                                            <span class="ls-label-text d-inline-block text-truncate">Número</span>
                                            <input type="text" id="Numero" class="form-control" name="numero" required>
                                        </div>

                                        <div class="col-sm-2">
                                            <span class="ls-label-text d-inline-block text-truncate">Compl</span>
                                            <input type="text" id="Complemento" class="form-control" name="complemento">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span class="ls-label-text">Telefone</span>
                                            <input type="text" id="Telefone" class="form-control" name="telefone">
                                        </div>

                                        <div class="col-sm-6">
                                            <span class="ls-label-text">Celular</span>
                                            <input type="text" id="Celular" class="form-control" name="celular">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span class="ls-label-text">Data de Nascimento</span>
                                            <input type="date" id="DataNascimento" class="form-control" name="dataNascimento" required>
                                        </div>

                                        <div class="col-sm-6">
                                            <span class="ls-label-text">Sexo</span>
                                            <br>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <label class="radio-inline control-label" for="Masculino">
                                                    <input type="radio" class="form-check-input" id="Masculino" name="sexo" value="1">
                                                    Masculino
                                                </label>
                                            </div>

                                            <div class="custom-control custom-radio custom-control-inline">
                                                <label class="radio-inline control-label" for="Feminino">
                                                    <input type="radio" class="form-check-input" id="Feminino" name="sexo" value="2">
                                                    Feminino
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" id="ConfirmarCadastroAluno" class="btn btn-primary">Confirmar</button>

                                    <button type="reset" id="ResetCadastroAluno" class="btn btn-secondary">Resetar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<div class="overlay"></div>