@{
    ViewData["Title"] = "Cadastrar - Unidade";
    Layout = "_RegisterAndEdit";
}

@*Body*@
<div>
    <section>
        <p id="Titulo">
            <i class="fas fa-plus"></i>
            Cadastrar Unidade
        </p>
    </section>

    <section id="DadosPessoais" class="col-sm-8">
        <form asp-action="Create" asp-controller="Unidade" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="ls-label-text">Unidade</span>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img id="ImagemPreview" class="img-fluid mx-auto d-block" src="~/img/Cadastro/Default_Image.png" alt="Imagem Perfil." />
                                    <br>
                                    <input type="file" id="ImagemPerfil" class="form-control-file" name="imagemPerfil" accept="image/*">
                                </div>

                                <div class="col-sm-8">
                                    <span class="ls-label-text">Nome Unidade</span>
                                    <input type="text" id="NomeUnidade" class="form-control" name="nomeUnidade" required>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span class="ls-label-text">CEP</span>
                                            <input type="text" id="Cep" class="form-control" name="cep" required>
                                        </div>

                                        <div class="col-sm-6">
                                            <span class="ls-label-text">Rua</span>
                                            <input type="text" id="Rua" class="form-control" name="rua" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span class="ls-label-text">Bairro</span>
                                            <input type="text" id="Bairro" class="form-control" name="bairro" required>
                                        </div>

                                        <div class="col-sm-3">
                                            <span class="ls-label-text">Número</span>
                                            <input type="text" id="Numero" class="form-control" name="numero" required>
                                        </div>

                                        <div class="col-sm-3">
                                            <span class="ls-label-text">Compl</span>
                                            <input type="text" id="Complemento" class="form-control" name="complemento">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <br>
                                    <button type="submit" id="ConfirmarCadastroUnidade" class="btn btn-primary">Confirmar</button>

                                    <button type="reset" id="ResetCadastroUnidade" class="btn btn-secondary">Resetar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<div class="overlay"></div>