
@{
    ViewData["Title"] = "Assinar";
    Layout = "_Home";
}

<div class="wrapper">
    @*Content*@
    <div class="backgroundA">
        <div class="card-deck">
            @*Card 1*@
            <div class="card">
                <div class="cardLine"></div>

                <div class="text-item col-sm-12">
                    <h2>PLANO BASIC</h2>
                    <h5>Mensal</h5>
                </div>

                <div class="card-body">
                    <div class="col-sm-12">
                        <p class="card-text">
                            <h5 class="card-price">R$ 69,90</h5>
                        </p>
                    </div>

                    <br>

                    <p class="card-text">
                        - Ambiente arrojado
                        <br>
                        - Amplo espaço
                        <br>
                        - Tv's com Netflix
                        <br>
                        - Ar-condicionado
                        <br>
                        - Fitness Food
                    </p>
                </div>

                <p class="card-text col-sm-12">
                    <button type="button" class="btn btn-primary col-sm-12">Assinar</button>
                </p>
            </div>

            @*Card 2*@
            <div class="card">
                <div class="cardLine"></div>

                <div class="text-item">
                    <p><i class="fas fa-map-marker-alt"></i> Copacabana</p>
                    <h2>Rio de Janeiro</h2>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 divCardA">
                            <h5 class="card-title">PLANO BASIC</h5>
                            <a href="Assinar.html"><p class="card-text">R$ 69,90</p></a>
                        </div>

                        <div class="col-sm-6 divCardB">
                            <h5 class="card-title">PLANO SMART</h5>
                            <a href="Assinar.html"><p class="card-text">R$ 89,90</p></a>
                        </div>
                    </div>

                    <br>

                    <p class="card-text">
                        - Ambiente arrojado
                        <br>
                        - Amplo espaço
                        <br>
                        - Tv's com Netflix
                        <br>
                        - Ar-condicionado
                        <br>
                        - Fitness Food
                    </p>
                </div>

                <p class="card-text col-sm-12">
                    <button type="button" class="btn btn-primary col-sm-12">Assinar</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>